{
  "extends": [
    "airbnb",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "jest"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "globals": {
    "VK": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-console": "off"
  }
}
